@font-face {
    font-family: 'far_from_homecoming';
    src: url(../police/far-from-homecoming.otf) format('OpenType ');
  }
:root{
    --rouge: #B11313;
    --jaune: #F1C530;
    --blue: #114C92;
    --noir: #0000;
    --blanc: #ffff;
}
/*navigation*/
nav{
    background-color: var(--rouge);
    padding: 16px 0;
}
/*hero*/
#hero{
    background-color: var(--jaune);
    background-image: none;
}
/*
#hero .box{
    position: relative;
    top: -5 0%;
}*/
.image-rotate{
    background-image: url(../Illustration/img5.png);
    background-repeat: no-repeat;
    height: 500px;
    transform: scaleX(-1);
}


/*ANTENNE*/
#antenne{
    background-color: var(--rouge);
    padding: 90px 6px;
}
#antenne .antenne-header{
    color: white;
    margin-bottom: 30px;
}
#antenne .antenne-header h1, #saynaxmarvel h1{
    font-family: 'far-from-homecoming';
    font-size: 2.3em;
    font-weight: lighter;
}
#antenne .antenne-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#antenne form{
    display: flex;
    flex-direction: column;
}
#antenne .formulaire{
    margin: 0 auto;
}
#antenne .formulaire .form-antenne, input[type=submit]{
    width: 375px;
    border-radius: 30px;
    padding: 8px 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-top: 30px;
}
input[type=submit]{
    width: 200px;
    margin: 20px auto;
}
input[type=submit]:hover{
    background-color: rgba(16, 1, 1, 0.612);
}
::-webkit-input-placeholder{
    color: white;
    opacity: 1;
}
:-moz-placeholder{
    color: white;
    opacity: 1;
}
:-ms-input-placeholder{
    color: white;
    opacity: 1;
}
::-ms-input-placeholder{
    color: white;
    opacity: 1;
}
::placeholder{
    color: white;
    opacity: 1;
}

#saynaxmarvel{
    background-color: var(--blue);
    color: white;
    padding: 60px 0px;
}
#saynaxmarvel .saynaxmarvel-body .box-text{
    width: 510px;
    text-align: justify;
    text-justify: inter-word ;
}
#saynaxmarvel .saynaxmarvel-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#saynaxmarvel .saynaxmarvel-body .box-text ul{
    list-style-type: disc;
    margin-left: 25px;
}
#saynaxmarvel .saynaxmarvel-media{
    margin-top: 50px;

}
#saynaxmarvel .saynaxmarvel-media .media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#saynaxmarvel .saynaxmarvel-media .media a{
    text-decoration: none;
    color: white;
    padding: 20px 60px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
}






/*couleur footer*/
.navigation-footer  .list2 .formselect{
    background-color: var(--rouge);
    border-radius: 50px;
    width: 100px;
    color: #6a5c5c;
    padding: 3px 15px;
}
footer .media img{
    background-color: var(--rouge );
    color: #faf5f5;
    padding: 5px;
    border-radius: 50%;
}